@model Announcement;
<h1>Edit Announcement</h1>

<form class="row g-3" method="post" asp-action="Edit">
    <div class="col-md-8">
        <label asp-for=Title class="form-label">Title</label>
        <input asp-for=Title type="text" class="form-control" placeholder="Enter product name">
        <span asp-validation-for=Title class="form-text text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for=Price class="form-label">Price</label>
        <input asp-for=Price type="number" class="form-control" placeholder="Enter product price">
        <span asp-validation-for=Price class="form-text text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-items="ViewBag.Categories" asp-for=CategoryId class="form-select">
            <option selected disabled>Choose...</option>
        </select>
    </div>
    <div class="col-md-6">
        <label asp-for="CityId" class="form-label">City</label>
        <select asp-items="ViewBag.Cities" asp-for=CityId class="form-select">
            <option selected disabled>Choose...</option>
        </select>
    </div>
    <div class="col-md-12">
        <label asp-for=Description class="form-label">Description</label>
        <textarea asp-for=Description class="form-control" rows="3" placeholder="Enter product description"></textarea>
        <span asp-validation-for=Description class="form-text text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for=SellerName class="form-label">Seller name</label>
        <input asp-for=SellerName type="text" class="form-control" placeholder="Enter your name">
        <span asp-validation-for=SellerName class="form-text text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for=ContactInformation class="form-label">Contact information</label>
        <input asp-for=ContactInformation type="text" class="form-control" placeholder="Enter your phone number">
        <span asp-validation-for=ContactInformation class="form-text text-danger"></span>
    </div>
    <div class="col-md-12">
        <label asp-for=ImageUrl class="form-label">Image URL</label>
        <input asp-for=ImageUrl type="url" class="form-control" placeholder="Enter image URL">
        <span asp-validation-for=ImageUrl class="form-text text-danger"></span>
    </div>

    <div class="col-6">
        <a asp-action="Index" class="btn btn-dark w-100">Back</a>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-success w-100">Save</button>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial.cshtml"/>
    }
}